// setup
@import "vars";
@import "mixins";

// foundation setup
@import "settings";
@import "foundation";
// @include foundation-everything;
// ----------------------------------------
@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
// @include foundation-menu;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;


@import "utilities";
@include create-color-classes($foundation_colors);
@include create-color-classes($theme_colors);

::selection {
  background-color: $red;
  color: $white;
  text-shadow: none;
}


.circle {
  @include circle(rem-calc(24), $silver);
  text-align: center;
  font-size: rem-calc(14);
  &.active {
    background-color: $blue;
    color: $white;
  }
}


.profile-progress {
  position: relative;
  padding: rem-calc(0 15);
  margin-bottom: rem-calc(40);
  .circle {
    position: absolute;
    bottom: 0;
    z-index: 1;
    transform: translateY(50%);
    &:nth-child(1) {
      left: 0;
    }
    &:nth-child(2) {
      left: 33%;
      transform: translateX(-50%) translateY(50%);
    }
    &:nth-child(3) {
      left: 66%;
      transform: translateX(-50%) translateY(50%);
    }
    &:nth-child(4) {
      right: 0;
    }
  }
}

.profile-question {
  @include page-section(rem-calc(30));
  text-align: center;
  div {
    margin-top: rem-calc(15);
  }
  input[type="text"] {
    text-align: center;
  }
  input[type="radio"],
  input[type="checkbox"] {
    margin-bottom: 0;
  }
  .button {
    border-radius: rem-calc(30);
    margin-bottom: 0;
    margin-right: rem-calc(15);
    &:last-child {
      margin-right: 0;
    }
  }
}


.profile-questions {
  position: relative;
  .profile-question {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: $green;
    z-index: -1;
    &.active {
      z-index: 10;
    }
  }
}

.learning-slide {
  background-color: $green;
  padding: rem-calc(30);
  margin-bottom: rem-calc(15);
  text-align: center;
  h3 {
    margin-top: rem-calc(10);
    text-transform: uppercase;
    font-size: rem-calc(24);
    &:after {
      content: ":";
    }
  }
}



.checklist {
  list-style: none;
  margin: 0;
  li {
    margin-bottom: rem-calc(30);
    opacity: 0.3;
    pointer-events: none;
    &:first-child {
      pointer-events: all;
      opacity: 1;
    }
  }
  a {
    display: block;
    color: inherit;
  }
}

.incomplete-box {
  border: 2px solid rgba($tuatara, 0.3);
  text-align: center;
  font-size: rem-calc(50);
  color: $charcoal;
  line-height: rem-calc(75);
  width: rem-calc(75);
}

.fake-circle {
  @include circle(rem-calc(16), transparent);
  border: 1px solid $tuatara;
  margin-right: rem-calc(5);
}



// kitchen sink
.header-1,
.header-2,
.header-4 {
  text-transform: uppercase;
}

.header-1 {
  font-size: rem-calc(60);
}
.header-2 {
  font-size: rem-calc(48);
}
.header-3 {
  font-family: $open-sans;
  font-size: rem-calc(18);
}
.header-4 {
  font-size: rem-calc(28);
}


.button-1 {
  display: inline-block;
  font-family: $righteous;
  text-transform: uppercase;
  border: 3px solid $tuatara;
  border-radius: rem-calc(30);
  background-color: transparent;
  color: $tuatara;
  padding: rem-calc(4 16);
  transition: 0.3s background-color ease;
  will-change: background-color;
  &:hover {
    color: $white;
    background-color: $tuatara;
  }
}

.header {
  margin-bottom: rem-calc(30);
}

.logo {
  background-color: $orange-dark;
  width: rem-calc(60);
  height: rem-calc(60);
  margin: 0 auto;
  img {
    max-width: 100%;
    display: block;
    transform: translateX(20%) translateY(20%);
  }
}


// html, body, .container {
//   // height: 100%;
// }
body {
  padding: rem-calc(15);
}
.container {
  background-color: $cream;
  background-image: url(../images/background-1.jpg);
  position: relative;
  padding-bottom: rem-calc(58);
}

.footer {
  @include page-section(rem-calc(15));
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // right: 0;
}
.copyright {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: rem-calc(10);
  line-height: 1.4;
  color: $tuatara;
}


.homepage-header {
  padding-top: rem-calc(30);
}

.big-logo {
  position: relative;
  z-index: 1;
  padding-top: rem-calc(10);
  padding-bottom: rem-calc(10);
  &:after {
    content: "\0a0";
    display: block;
    position: absolute;
    width: 25%;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $orange-dark;
    z-index: -1;
  }
  img {
    display: block;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}


.homepage-screen {
  @include page-section(rem-calc(30));
  background-color: $green;
  background-image: url(../images/background-2.jpg);
}
