doctype html
//- only slightly different from the rest of the pages
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Appollo Commander
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    link(href='https://fonts.googleapis.com/css?family=Righteous|Open+Sans:600', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="css/styles.css")

  body
    .container
      header.homepage-header
        h1.big-logo
          span.show-for-sr Appollo Commander
          img(src="logo.svg", alt="", width="250", height="250")
      main#main
        section.homepage-screen.text-center
          .row
            .columns.small-12
              h1 Welcome Space Cadet
              p Help NASA reach the moon!
          .row
            .columns.small-6
              a(href="profile-setup.html").button-1 New User
            .columns.small-6
              a(href="profile-setup.html").button-1 Sign In

      footer.footer
        small.copyright Appollo Commander <br/> spacemonkeys / 2016

    script(src="js/scripts.js")
