extends ./type--page.jade

block content
  section#checklist.row.align-center
    .columns.medium-8.large-6
      ul.checklist
        li
          .row
            .columns.small-4
              .incomplete-box ?
            .columns.small-8
              h3.header-4 Lunar Phases
              .row
                .columns.small-6
                  a(href="mission-1--brief.html")
                    span.fake-circle
                    small Briefing
                .columns.small-6
                  a(href="mission-1.html")
                    span.fake-circle
                    small Mission
        //- fake ones
        li
          .row
            .columns.small-4
              .incomplete-box ?
            .columns.small-8
              h3.header-4 Temperature
              .row
                .columns.small-6
                  a(href="mission-1--brief.html")
                    span.fake-circle
                    small Briefing
                .columns.small-6
                  a(href="mission-1.html")
                    span.fake-circle
                    small Mission
        li
          .row
            .columns.small-4
              .incomplete-box ?
            .columns.small-8
              h3.header-4 Topography
              .row
                .columns.small-6
                  a(href="mission-1--brief.html")
                    span.fake-circle
                    small Briefing
                .columns.small-6
                  a(href="mission-1.html")
                    span.fake-circle
                    small Mission



              //- h4 Mission Brief
              //- p We need you to help us determine when to launch the mission!
              //- a(href="#challenge-1--mission-brief").button.hollow.mission-brief-link Mission Brief: Unread
              //- h4 Mission Task
              //- p Determine the correct moon phase
              //- a(href="#challenge-1").button.hollow.mission-link Mission: Start
        //- li
          a(href="#challenge-1")
            .row
              .columns.small-4
                .incomplete-box ?
              .columns.small-8
                h3 Challenge 2
                p Sed eligendi iure mollitia qui dignissimos neque temporibus.
        //- li
          a(href="#challenge-1")
            .row
              .columns.small-4
                .incomplete-box ?
              .columns.small-8
                h3 Challenge 3
                p Quam saepe reiciendis consequatur et reprehenderit laboriosam.
