extends ./type--page.jade

block content
  section#checklist.row.align-center
    .columns.medium-8.large-6
      ul.checklist
        li
          .row
            .columns.small-4
              .incomplete-box ?
            .columns.small-8
              h3.header-4 Lunar Phases
              .row
                .columns.small-6
                  a(href="mission-1--brief.html")
                    span.fake-circle
                    small Briefing
                .columns.small-6
                  a(href="mission-1.html")
                    span.fake-circle
                    small Mission
        //- fake ones
        li
          .row
            .columns.small-4
              .incomplete-box ?
            .columns.small-8
              h3.header-4 Temperature
              .row
                .columns.small-6
                  a(href="mission-1--brief.html")
                    span.fake-circle
                    small Briefing
                .columns.small-6
                  a(href="mission-1.html")
                    span.fake-circle
                    small Mission
        li
          .row
            .columns.small-4
              .incomplete-box ?
            .columns.small-8
              h3.header-4 Topography
              .row
                .columns.small-6
                  a(href="mission-1--brief.html")
                    span.fake-circle
                    small Briefing
                .columns.small-6
                  a(href="mission-1.html")
                    span.fake-circle
                    small Mission
