extends ./type--page.jade

block content
  section#intro.row.page-section.thick-margin-bottom.align-center
    .columns.medium-8.large-6
      h2 New User Profile
      div.page-section
        //- profile progress meter
        .profile-progress
          span.circle.active 1
          span.circle 2
          span.circle 3
          span.circle 4
          .progress(role="progressbar", tabindex="0", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100")
            .progress-meter
            //- .progress-meter(style="width: 50%;")
        hr
        //- info holder things
        #profile-questions.profile-questions
          #step-1.profile-question.active
            //- title/ field name
            h3.field-title 1. Your Name:
            //- input
            input#name(type="text", name="name", placeholder="Firstname Lastname", value="zapo")
            //- controls/ next-prev
            div
              a(href="#step-2").button Ok
          #step-2.profile-question
            //- title/ field name
            h3.field-title 2. Birthday:
            .row
              .columns.small-4
                select#birth-year(name="birth-year")
                  option(value="1990") 1990
                  option(value="1991", selected) 1991
                  option(value="1992") 1992
                  option(value="1993") 1993
                  option(value="1994") 1994
                  option(value="1995") 1995
                  option(value="1996") 1996
                  option(value="1997") 1997
                  option(value="1998") 1998
                  option(value="1999") 1999
                  option(value="2000") 2000
                  option(value="2000") 2001
                  option(value="2000") 2002
                  option(value="2000") 2003
                  option(value="2000") 2004
                  option(value="2000") 2005
                  option(value="2000") 2006
                  option(value="2000") 2007
                  option(value="2000") 2008
                  option(value="2000") 2009
                  option(value="2000") 2010
                  option(value="2000") 2011
                  option(value="2000") 2012
                  option(value="2000") 2013
                  option(value="2000") 2014
                  option(value="2000") 2015
              .columns.small-4
                select#birth-month(name="birth-month")
                  option(value="January") January
                  option(value="February") February
                  option(value="March") March
                  option(value="April") April
                  option(value="May") May
                  option(value="June") June
                  option(value="July") July
                  option(value="August") August
                  option(value="September") September
                  option(value="October", selected) October
                  option(value="November") November
                  option(value="December") December
              .columns.small-4
                select#birth-day(name="birth-day")
                  option(value="1") 1
                  option(value="2") 2
                  option(value="3") 3
                  option(value="4") 4
                  option(value="5") 5
                  option(value="6") 6
                  option(value="7") 7
                  option(value="8") 8
                  option(value="9") 9
                  option(value="10") 10
                  option(value="11") 11
                  option(value="12") 12
                  option(value="13") 13
                  option(value="14") 14
                  option(value="15", selected) 15
                  option(value="16") 16
                  option(value="17") 17
                  option(value="18") 18
                  option(value="19") 19
                  option(value="20") 20
                  option(value="21") 21
                  option(value="22") 22
                  option(value="23") 23
                  option(value="24") 24
                  option(value="25") 25
                  option(value="26") 26
                  option(value="27") 27
                  option(value="28") 28
                  option(value="29") 29
                  option(value="30") 30
                  option(value="31") 31
            //- controls/ next-prev
            div
              a(href="#step-1").button Back
              a(href="#step-3").button Ok
          #step-3.profile-question
            //- title/ field name
            h3.field-title 3. Gender:
            //- input
            label
              input(type="radio", name="gender", value="male", checked)
              span Male
            label
              input(type="radio", name="gender", value="female")
              span Female
            //- controls/ next-prev
            div
              a(href="#step-2").button Back
              a(href="#step-4").button Ok
          #step-4.profile-question
            //- title/ field name
            h3.field-title 4. Path:
            //- input
            label
              input(type="radio", name="path", value="engineer", checked)
              span Engineer
            label
              input(type="radio", name="path", value="astronaut")
              span Astronaut
            //- controls/ next-prev
            div
              a(href="#step-3").button Back
              a(href="#profile-finish").button Ok
          #profile-finish.profile-question
            .text-center
              h2 Great, <span data-username></span>!
              p You're set to take off in
              p#countdown 10 : 55
              p But first we need to see if you're ready!
              a(href="mission-center.html") Ok
